@import url('style.css');

.friend-nav{
    width: 100%;
    box-shadow: 0 0 2vh 0 rgb(199, 198, 198);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.friend-nav .fa-solid{
    font-size: 2vh;
}

#head{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 3vh;
    flex-grow:10;
}

.friend-nav button:active{
    color: #1316DD;
}

.body{
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 100%;
    flex-grow: 200;
    flex-direction: column;
}

.friend-card{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    font-size: 3vh;
    padding: 2vh;
}

.fa-face-smile{
    flex-grow: 1;
    font-size: 5vh;
}

.friend-card p{
    flex-grow: 1;
}

button .fa-pen{
    padding-right: 5vw;
    font-size: 2.5vh;
}

button .fa-pen:active{
    color: rgb(89, 88, 88);
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.main div{
    margin: 2vh;    
}

input{
    padding: 1vh;
    border: none;
    border-bottom: .2vh solid #1316DD;
    transition: .5s;
}

input:focus{
    outline: none;
    border-bottom: .2vh solid #0f12b9;
}

.main button{
    padding: 1vh 0;
    color: white;
    background-color: rgb(31, 180, 31);
    border: none;
    border-radius: 2vh;
    min-width: 15vh;
}

.main .del{
    background-color: red;
}

.main .del:active{
    background-color: rgb(186, 10, 10);
}